name: "onCommentAdded"
on:
  discussion_comment:
    types: [created]
jobs:
  main:
    runs-on: ubuntu-22.04
    environment: Discussion
    steps:
      - name: "Send notification"
        run: |
          curl -H 'Content-Type: application/json' -d '${{ env.EVENT }}' -L '${{ env.ON_COMMENT_ADDED_URL }}'
        env:
          EVENT: ${{ toJson(github.event) }}
          ON_COMMENT_ADDED_URL: ${{ secrets.ON_COMMENT_ADDED_URL }}
